body {
  background: linear-gradient(rgb(199, 77, 247), rgb(255, 190, 239)) no-repeat
    center center fixed;
}
.app {
  border: 1px double black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  padding: 5px 10px 10px;
  margin: 30px auto;
  background: rgb(248, 248, 173);
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.titleSection {
  padding: 5px 10px;
  background: rgb(255, 229, 114);
  border-radius: 5px;
  margin: 5px;
}
.title {
  display: inline-block;
}
.changeTitle {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: -12px;
}
.changeTitle:hover {
  color: #fff;
  background: black;
}
.taskN {
  color: blue;
}
.completedTaskN {
  color: rgb(14, 194, 14);
}
.completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
li {
  padding: 0 10px 0 0;
}
hr {
  margin-top: 0;
}
.check {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  left: -19px;
}
.check:hover,
.checked {
  background: rgb(10, 201, 10);
  color: #fff;
}
.newTaskSection {
  padding: 10px 20px;
  background: rgb(255, 229, 114);
}
.buttons {
  margin: 5px 0;
}
.btn {
  box-shadow: 2px 2px 2px black;
}
