body {
  background: linear-gradient(rgb(199, 77, 247), rgb(255, 190, 239)) no-repeat
    center center fixed;
}
.app {
  border: 1px double black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  padding: 5px 10px;
  margin: 30px auto;
  background: rgb(248, 248, 173);
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.titleSection {
  padding: 5px 10px;
}
.title {
  display: inline-block;
}
.changeTitle {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: -15px;
}
.changeTitle:hover {
  color: #fff;
  background: black;
}
.taskListSection p {
  margin-left: 10px;
}
.newTaskSection {
  padding: 5px;
}
.btn {
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
