body {
  background: linear-gradient(rgb(199, 77, 247), rgb(255, 190, 239)) no-repeat
    center center fixed;
}
.app {
  border: 1px double black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  padding: 5px 10px 10px;
  margin: 30px auto;
  background: rgb(248, 248, 173);
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.titleSection {
  padding: 5px 10px;
  background: rgb(255, 229, 114);
  border-radius: 5px;
  margin: 5px;
}
.title {
  display: inline-block;
}
.changeTitle {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.4);
  float: right;
}
.changeTitleInput {
  background: rgb(255, 229, 114);
  font-size: 25px;
}
.plusBtn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
}
.changeTitle:hover,
.plusBtn:hover {
  color: #fff;
  background: black;
}
.taskN {
  color: blue;
}
.completedTaskN {
  color: rgb(14, 194, 14);
}
.completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
li {
  padding: 0 10px 0 0;
}
hr {
  margin-top: 0;
}
.check {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  left: -19px;
}
.check:hover,
.checked,
.confirm:hover {
  background: rgb(10, 201, 10);
  color: #fff;
}
.confirm {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.2);
  float: right;
  position: relative;
  right: 5px;
  top: -39px;
}
.newTaskSection {
  padding: 10px 20px;
  background: rgb(255, 229, 114);
}
.btn-primary {
  margin: 5px 0;
}
.btn-danger {
  margin-bottom: 5px;
  float: right;
}
.footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}
.footer a {
  color: black;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
